*{
  transition: ease 0.2s;
}
.card-deck {
  width: 100%;
}

.card {
  min-width: 180px;
  width: 30%;
  padding: 10px;
  display: inline-block;
}

.card-body:hover {
  background-color: #dddddd;
}

.card-img-top {
    width: 100%;
}
.card-body{
  border: 1px solid #adadad;
  padding: 10px;
}
h4.card-title{
    text-transform: capitalize;
}

.input-group {
    margin-bottom: 10px;
}
