
<div ng-controller="categoryCtrl" class="container">

    <h1>Lista de categorias
       <button type="button" name="addCategory" class="btn btn-success pull-right" title="adicionar categoria" ng-click="create(c)">+</button>
    </h1>

    <form class="input-group" >
      <input ng-model="filterCategory" type="text" class="form-control" placeholder="Pesquise ou filtre uma categoria" >
      <span class="input-group-btn">
        <input type="submit" ng-click="searchCategoryName()" class="btn btn-secondary" type="button" value="Buscar!"/>
      </span>
    </form>

    <div class="card-deck">
      <div class="card" ng-repeat="c in categories | filter:{name:filterCategory}">
        <div class="card-body">
          <img ng-if="c.pictures && c.pictures.src" class="card-img-top" data-ng-src="{{c.pictures.src}}" ng-src="{{c.pictures.src}}" alt="{{c.pictures.filename}}">
          <h4 class="card-title">{{c.name}}</h4>
          <p class="card-text">{{c.description}}</p>

          <div class="btn-group btn-group-xs" role="group">
            <button type="button" class="btn btn-info" ng-click="view(c)">Ver</button>
            <button type="button" class="btn btn-warning" ng-click="edit(c)">Editar</button>
            <button type="button" class="btn btn-danger" ng-click="delete(c)">Deletar</button>
          </div>
        </div>
      </div>
    </div>
</div>
