<div ng-controller="productCtrl" class="container">

  <h1>
    Lista de produtos
    <button ng-click="create()" type="button" name="addProduct" class="btn btn-success pull-right" title="adicionar produto">+</button>
  </h1>

  <form class="input-group">
    <input ng-model="filterProduct"type="text" class="form-control" placeholder="Pesquise ou Filtre um produto pelo nome" >
    <span class="input-group-btn">
      <input type="submit" ng-click="searchProductName()" class="btn btn-secondary" type="button" value="Buscar!">
    </span>
  </form>

  <form class="input-group" >
    <input ng-model="filterCategory" type="text" class="form-control" placeholder="Pesquise um produto pela categoria" >
    <span class="input-group-btn">
      <input type="submit" ng-click="searchProductCategoryName()" class="btn btn-secondary" type="button" value="Buscar!"/>
    </span>
  </form>

  <div class="card-deck">
      <div class="card" ng-repeat="p in products | filter:{name:filterProduct}">
        <div class="card-body" >
          <img ng-if="p.pictures[0]" class="card-img-top" data-ng-src="{{p.pictures[0].src}}" ng-src="{{p.pictures[0].src}}" alt="{{p.pictures[0].filename}}">
          <h4 class="card-title">{{p.name}}</h4>
          <p class="card-text">{{c.description}}</p>

          <div class="btn-group btn-group-xs" role="group">
            <button type="button" class="btn btn-info" ng-click="view(p)">Ver</button>
            <button type="button" class="btn btn-warning" ng-click="edit(p)">Editar</button>
            <button type="button" class="btn btn-danger" ng-click="delete(p)">Deletar</button>
          </div>
        </div>
      </div>
  </div>
</div>
