
<div ng-controller="categoryCtrl" class="container">

    <h1>Lista de categorias</h1>

    <div class="input-group">
      <input type="text" class="form-control" placeholder="Pesquise uma categoria" >
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button">Go!</button>
      </span>
    </div>

    <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="http://www.pawderosa.com/images/puppies.jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
    </div>
</div>
